{% extends 'base.html' %}
{% block head %}
<style>
    .header {
    padding: 60px;
    text-align: center;
    background: white;
    color: rgb(184, 55, 55);
    font-size: 30px;
  }
</style>

{%endblock%}

{% block content %}

<div class="main">
    <h3>Contact Information</h3>

    <div class="text-center">
    <br> Ms. Lorem Ipsum&nbsp;</p>
    <p>Consultation hours:
        <br> Mo - Thur 9am - 12pm
        <br> Tue + Thur 1pm - 3pm&nbsp;
        <br>building&nbsp;F, room&nbsp;313<br> Moltkestr. 30<br> 76133 Karlsruhe</p>
    </div>

  </div>



{%endblock%}